<div id="health-assessment">
    <h2>Avaliação de Saúde</h2>
    <form id="healthAssessmentForm">
        <div id="recent-fall-question">
            <div class="question">
                <label for="recentFall">Queda recente?</label>
                <div class="options">
                    <input type="radio" id="recentFallYes" name="recentFall" value="yes">
                    <label for="recentFallYes">Sim</label>
                    <input type="radio" id="recentFallNo" name="recentFall" value="no">
                    <label for="recentFallNo">Não</label>
                </div>
            </div>
        </div>

        <div id="unexplained-weight-loss-question">
            <div class="question">
                <label for="unexplainedWeightLoss">Perda de peso sem explicação?</label>
                <div class="options">
                    <input type="radio" id="unexplainedWeightLossYes" name="unexplainedWeightLoss" value="yes">
                    <label for="unexplainedWeightLossYes">Sim</label>
                    <input type="radio" id="unexplainedWeightLossNo" name="unexplainedWeightLoss" value="no">
                    <label for="unexplainedWeightLossNo">Não</label>
                </div>
            </div>
        </div>

        <div id="night-pain-question">
            <div class="question">
                <label for="nightPain">Dor noturna?</label>
                <div class="options">
                    <input type="radio" id="nightPainYes" name="nightPain" value="yes">
                    <label for="nightPainYes">Sim</label>
                    <input type="radio" id="nightPainNo" name="nightPain" value="no">
                    <label for="nightPainNo">Não</label>
                </div>
            </div>
        </div>

        <div id="recent-accident-question">
            <div class="question">
                <label for="recentAccident">Acidente automobilístico ou trauma severo recente?</label>
                <div class="options">
                    <input type="radio" id="recentAccidentYes" name="recentAccident" value="yes">
                    <label for="recentAccidentYes">Sim</label>
                    <input type="radio" id="recentAccidentNo" name="recentAccident" value="no">
                    <label for="recentAccidentNo">Não</label>
                </div>
            </div>
        </div>

        <div id="general-weakness-question">
            <div class="question">
                <label for="generalWeakness">Fraqueza generalizada?</label>
                <div class="options">
                    <input type="radio" id="generalWeaknessYes" name="generalWeakness" value="yes">
                    <label for="generalWeaknessYes">Sim</label>
                    <input type="radio" id="generalWeaknessNo" name="generalWeakness" value="no">
                    <label for="generalWeaknessNo">Não</label>
                </div>
            </div>
        </div>

        <div id="fever-question">
            <div class="question">
                <label for="fever">Febre?</label>
                <div class="options">
                    <input type="radio" id="feverYes" name="fever" value="yes">
                    <label for="feverYes">Sim</label>
                    <input type="radio" id="feverNo" name="fever" value="no">
                    <label for="feverNo">Não</label>
                </div>
            </div>
        </div>

        <div id="urinary-dysfunction-question">
            <div class="question">
                <label for="urinaryDysfunction">Disfunção para urinar?</label>
                <div class="options">
                    <input type="radio" id="urinaryDysfunctionYes" name="urinaryDysfunction" value="yes">
                    <label for="urinaryDysfunctionYes">Sim</label>
                    <input type="radio" id="urinaryDysfunctionNo" name="urinaryDysfunction" value="no">
                    <label for="urinaryDysfunctionNo">Não</label>
                </div>
            </div>
        </div>

        <div id="fecal-dysfunction-question">
            <div class="question">
                <label for="fecalDysfunction">Disfunção para defecar?</label>
                <div class="options">
                    <input type="radio" id="fecalDysfunctionYes" name="fecalDysfunction" value="yes">
                    <label for="fecalDysfunctionYes">Sim</label>
                    <input type="radio" id="fecalDysfunctionNo" name="fecalDysfunction" value="no">
                    <label for="fecalDysfunctionNo">Não</label>
                </div>
            </div>
        </div>

        <div id="cognitive-changes-question">
            <div class="question">
                <label for="cognitiveChanges">Alterações cognitivas?</label>
                <div class="options">
                    <input type="radio" id="cognitiveChangesYes" name="cognitiveChanges" value="yes">
                    <label for="cognitiveChangesYes">Sim</label>
                    <input type="radio" id="cognitiveChangesNo" name="cognitiveChanges" value="no">
                    <label for="cognitiveChangesNo">Não</label>
                </div>
            </div>
        </div>

        <div id="severe-neurological-impairment-question">
            <div class="question">
                <label for="severeNeurologicalImpairment">Comprometimento neurológico grave?</label>
                <div class="options">
                    <input type="radio" id="severeNeurologicalImpairmentYes" name="severeNeurologicalImpairment" value="yes">
                    <label for="severeNeurologicalImpairmentYes">Sim</label>
                    <input type="radio" id="severeNeurologicalImpairmentNo" name="severeNeurologicalImpairment" value="no">
                    <label for="severeNeurologicalImpairmentNo">Não</label>
                </div>
            </div>
        </div>

        <div id="shortness-of-breath-question">
            <div class="question">
                <label for="shortnessOfBreath">Falta de ar?</label>
                <div class="options">
                    <input type="radio" id="shortnessOfBreathYes" name="shortnessOfBreath" value="yes">
                    <label for="shortnessOfBreathYes">Sim</label>
                    <input type="radio" id="shortnessOfBreathNo" name="shortnessOfBreath" value="no">
                    <label for="shortnessOfBreathNo">Não</label>
                </div>
            </div>
        </div>

        <div id="chest-pain-question">
            <div class="question">
                <label for="chestPain">Dor no peito?</label>
                <div class="options">
                    <input type="radio" id="chestPainYes" name="chestPain" value="yes">
                    <label for="chestPainYes">Sim</label>
                    <input type="radio" id="chestPainNo" name="chestPain" value="no">
                    <label for="chestPainNo">Não</label>
                </div>
            </div>
        </div>

        <button type="submit">Próximo</button>
    </form>
</div>
